<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218248375327-qrroio4o7f9cvaa450cu93vqllc6s7v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218248375327-qrroio4o7f9cvaa450cu93vqllc6s7v0</string>
	<key>API_KEY</key>
	<string>AIzaSyBXE42daLvgA_sjepM2Yxc1-mBtmpHk4SI</string>
	<key>GCM_SENDER_ID</key>
	<string>218248375327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.company</string>
	<key>PROJECT_ID</key>
	<string>agbi-27ddd</string>
	<key>STORAGE_BUCKET</key>
	<string>agbi-27ddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218248375327:ios:7479580dd435ef41f7792a</string>
	<key>DATABASE_URL</key>
	<string>https://agbi-27ddd.firebaseio.com</string>
</dict>
</plist>